<section class="bg-white text-gray-500 border-b">
  <div class="container max-w-6xl mx-auto m-20 p-20">
    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
      Frequently asked questions
    </h1>
    <div class="w-full mb-16">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="flex flex-wrap lg:w-5/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="w-full py-2">
        {% for faq in page.faqs %}
        <details class="m-4">
          <summary class="text-xl bg-gray-200 rounded-md py-6 px-8">{{ faq.title }}</summary>
          <div class="pt-4 pb-8 px-8">{{ faq.text }}</div>
        </details>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
