<div class="pt-24">
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
      <!-- <p class="uppercase tracking-loose w-full">{{ page.title }} App</p> -->
      <h1 class="text-6xl leading-tight mb-4">
        {{ page.banner.title | markdownify }}
      </h1>
      <span class="leading-normal text-3xl mb-8">
        {{ page.banner.subtitle | markdownify }}
      </span>
      {% if page.appstore %}
      <a href="{{ page.appstore }}">
        <img class="h-20 fill-current inline" src="../assets/uploads/appstore.png" />
      </a>
      {% endif %}
    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 py-6">
      <img class="w-full md:w-4/5 z-50 mx-auto p-8" src="{{ page.banner.image }}" />
    </div>
  </div>
</div>
